#wrap {
	display: flex;
	flex-flow: column nowrap;
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}

#wrap section {
	box-sizing: border-box;
}

/* 인포메이션 영역 CSS */
.info_section {
	order: 1;
	width: 100%;
	background: #2ecc71;
	border-bottom: 1px solid #39d67c;
}

.info_list {
	display: flex;
}

.info_list li {
	width: 25%;
	text-align: center;
}

.info_list li a {
	display: block;
	padding: 15px 0;
	padding: 0.938rem 0;
}

/* 헤더 영역 CSS */
.header {
	display: flex;
	order: 2;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.logo {
	order: 1;
	width: 100%;
	padding: 30px 0;
	padding: 1.875rem 0;
	font-size: 1.188em;
	font-size: 1.188rem;
	line-height: 21px;
	line-height: 1.313rem;
	text-align: center;
	text-transform: uppercase;
	background: #2ecc71;
	text-shadow: 0px 1px 1px #25ab5e;
}

.nav {
	order: 2;
	width: 100%;
}

.gnb li {
	display: flex;
	background: #2c3e50;
}

.gnb li a {
	width: 80%;
	padding: 20px 0;
	padding: 1.25rem 0;
	font-size: 0.938em;
	font-size: 0.938rem;
	text-indent: 20px;
	text-indent: 1.25rem;
	font-weight: bold;
	text-transform: uppercase;
}

.gnb li span {
	width: 20%;
	text-indent: -9999px;
	background: url(images/s_images/sub_menu_toggle_btn.png) center center no-repeat;
	cursor: pointer;
}

.menu_toggle_btn {
	display: block;
	width: 30px;
	width: 1.875rem;
	height: 30px;
	height: 1.875rem;
	position: absolute;
	top: 10px;
	top: 0.625rem;
	right: 10px;
	right: 0.625rem;
	text-indent: -9999px;
	background: url(images/s_images/menu_toggle_btn.png) no-repeat;
	cursor: pointer;
}
