.demo-container { 
	width:500px; height:333px;
	background:url(../images/image.jpg) no-repeat;
	background-size:100% 100%;
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.demo-container { 
	background:url(../images/image@2x.jpg) no-repeat;
	}
}

.manual {width:500px;}
.manual img { width:100%; height:auto;}





